<a href="https://colab.research.google.com/github/juyangjin/Python/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

소스코드 1번

In [ ]:
number = input("학번을 입력하세요->")
name = input("이름을 입력하세요->")

print("학번:" + number + "\n이름:" + name)

소스코드 2번

In [ ]:
#소스코드 2번
number = input("주민번호를 입력하세요->")
a = int(number[0])
year = number[0:2]
month = int(number[2:4])
day = int(number[4:6])
sex = int(number[6])

if sex==1 or sex==3:
    sex_result = ("남성")
if sex==2 or sex==4:
    sex_result = ("여성")

if a==9 or a ==8:
    print("연도:19"+year,"\n월:",month,"\n일:",day,"\n"+sex_result)

if sex==3 or sex==4:
    print("연도:20"+year,"\n월:",month,"\n일:",day,"\n"+sex_result)

# 7월 13일

In [ ]:
print('Hello world');

In [ ]:
print('A');
print(a);

In [ ]:
print("I'm fine");

In [ ]:
a = 'korea';
print(a[3:0:-1]); #시작:끝:step

ero

# 7월 18일

In [ ]:
kor = input();
eng = input();
math = input();
total = int(kor) + int(eng) + int(math);
print(total);

# 7월 25일

In [ ]:
a='A'
print(a.isupper()) #대문자인가?
print(a.lower()) #소문자출력
print(a.isalpha()) #알파벳인가?

True
a
True

In [ ]:
result = input("값을 입력하시오\n")
if result.isupper():  #대문자인가? 
    print(result.lower()) #소문자출력
elif result.islower(): #소문자인가?
    print(result.upper()) #대문자출력
else:
    print(result) #그 외 출력

값을 입력하시오
ㅇ
ㅇ

# 7월 26일

**굵은 텍스트**# 새 섹션

In [ ]:
print("if 조건문에 0 넣기")
if 0:
    print("0은 True로 변환됩니다.")
else:
    print("0은 False로 변환됩니다.")
print()

print("if 조건문에 빈 문자열 넣기")
if "": 
    print("빈 문자열은 True로 변환됩니다.")
else:
    print("빈 문자열은 False로 변환됩니다.")

if zefo == 0:
   
else:

In [ ]:
#입력을 받습니다.
number = input("정수 입력> ")
number = int(number)

#조건문 사용
if number > 0:
    #양수일 때:아직 미구현 상태입니다.
    pass
else:
    #음수일 때:아직 미구현 상태입니다.
    pass
#미완성일 때는 pass 키워드를 사용하면 된다.

In [ ]:
x = 10
y = 2

if x > 4:
    if y > 2:
        print(x * y)
else:
    print(x + y)

#두번째 if의 조건을 만족하지 않기 때문에 아무것도 출력되지 않는다.

In [ ]:
if 20 > x > 10:
    print("조건에 맞습니다.")

In [ ]:
array = [273, 32, 103, "문자열", True, False]
print(array)

array[5]

In [ ]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

print("리스트 기본 연산자")
print("list_a + list_b=",list_a + list_b)
print("list_a * 3=",list_a * 3)
print()

print("길이 구하기")
print("len(list_a) =",len(list_a))

In [ ]:
list_a = [1,2,3]

print("리스트 뒤에 요소 추가")
list_a.append(4)
list_a.append(5)
print(list_a)
print()

print("리스트 중간에 요소 추가하기")
list_a.insert(0,10)
list_a.insert(3,11)
print(list_a)

print("extend 함수 사용하기")
list_a.extend([4,5,6])
print(list_a)

In [ ]:
list_a=[0,1,2,3,4,5]
print("list_a:",list_a)
print("리스트 요소 제거하기")

del list_a[1]
print("del list_a[1]:",list_a)

list_a.pop(2)
print("pop list_a(2):",list_a)

In [ ]:
for i in range(5,9):
    print(i)

team = ['A','B','C']

In [ ]:
numbers = [273, 103, 5, 32, 65, 9 ,72, 800, 99]

for number in numbers:
    if number > 100:
        print("- 100 이상의 수:",number)

퀴즈 1번

In [ ]:
list_a = []
list_b = []
print('list_a : ', list_a)
print('list_b : ', list_b)

for i in range(10):
    a = int(input('정수를 입력하세요: '))
    list_a.append(a)
    if list_a[i] % 3 == 0:
        list_b.append(list_a[i])

print('list_a : ', list_a)
print('list_a에서 3의 배수만 출력 : ', list_b)

list_a :  []
list_b :  []
정수를 입력하세요: 3
정수를 입력하세요: 4
정수를 입력하세요: 2
정수를 입력하세요: 3
정수를 입력하세요: 56
정수를 입력하세요: 7
정수를 입력하세요: 8
정수를 입력하세요: 4
정수를 입력하세요: 20
정수를 입력하세요: 2020
list_a :  [3, 4, 2, 3, 56, 7, 8, 4, 20, 2020]
list_a에서 3의 배수만 출력 :  [3, 3]

퀴즈 2번

In [ ]:
engs = ["student","love","java","happy","future"]
kors = ["학생","사랑","자바","행복한","미래"]
print("영단어를 입력하세요")

c=0
sum = input()
for i in engs:
    if i == sum:
        print(kors[c])
        break
    c+=1
print("프로그램을 종료합니다.")

영단어를 입력하세요
love
사랑
프로그램을 종료합니다.

퀴즈 3번

In [ ]:
sum = 0
for i in range(10):
    sum = sum + i*i
    print(sum)

0
1
5
14
30
55
91
140
204
285

# 9월 05일

In [ ]:
Last login: Mon Sep  5 18:17:03 on console
a502-09@502-09ui-iMac ~ % python3
2022-09-05 18:19:50.353 xcodebuild[617:6351] Requested but did not find extension point with identifier Xcode.IDEKit.ExtensionSentinelHostApplications for extension Xcode.DebuggerFoundation.AppExtensionHosts.watchOS of plug-in com.apple.dt.IDEWatchSupportCore
2022-09-05 18:19:50.353 xcodebuild[617:6351] Requested but did not find extension point with identifier Xcode.IDEKit.ExtensionPointIdentifierToBundleIdentifier for extension Xcode.DebuggerFoundation.AppExtensionToBundleIdentifierMap.watchOS of plug-in com.apple.dt.IDEWatchSupportCore
Python 3.8.9 (default, May 17 2022, 12:55:41) 
[Clang 13.1.6 (clang-1316.0.21.2.5)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>> array
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'array' is not defined
>>> 
>>> array=[273,32,"list",Trun,False]
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'Trun' is not defined
>>> array=[273,32,"list",Trun,False]
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'Trun' is not defined
>>> array
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'array' is not defined
>>> <stdin>
  File "<stdin>", line 1
    <stdin>
    ^
SyntaxError: invalid syntax
>>> claer
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'claer' is not defined
>>> clear
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'clear' is not defined
>>> python3
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'python3' is not defined
>>> array=[273,32,"list",Trun,False]:
  File "<stdin>", line 1
    array=[273,32,"list",Trun,False]:
                                    ^
SyntaxError: invalid syntax
>>> array=[273,32,"list",Trun,False]
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'Trun' is not defined
>>> array=[273,32,"list",True,False]
>>> array
[273, 32, 'list', True, False]
>>> print(array)
[273, 32, 'list', True, False]
>>> print(1)
1
>>> array[1]
32
>>> array[2]
'list'
>>> array[3]
True
>>> array[5]
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
IndexError: list index out of range
>>> array[1]=100
>>> array
[273, 100, 'list', True, False]
>>> array[-1]
False
>>> array[-3]
'list'
>>> array[-5]
273
>>> array[--s]
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 's' is not defined
>>> array[**s]
  File "<stdin>", line 1
    array[**s]
          ^
SyntaxError: invalid syntax
>>> array[2]
'list'
>>> **S
  File "<stdin>", line 1
    **S
    ^
SyntaxError: invalid syntax
>>> array[2][2]
's'
>>> array[2][2,3]
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: string indices must be integers
>>> array[2][2-3]
't'
>>> array[2][2-4]
's'
>>> array[2][2.4]
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: string indices must be integers
>>> array[2][2:4]
'st'
>>> sist_a=[1,2,3]
>>> list_a=[1,2,3]
>>> list_b=[4,5,6]
>>> list_a
[1, 2, 3]
>>> list_b
[4, 5, 6]
>>> print(list_a + list_b)
[1, 2, 3, 4, 5, 6]
>>> list_c=list_a + list_b
>>> list_c
[1, 2, 3, 4, 5, 6]
>>> print(list_a*2)
[1, 2, 3, 1, 2, 3]
>>> list_a
[1, 2, 3]
>>> list_a.append(5)
>>> list_a
[1, 2, 3, 5]
>>> list_a.insert(3,4)
>>> list_a
[1, 2, 3, 4, 5]
>>> list_a.extend([6,7,8])
>>> list_a
[1, 2, 3, 4, 5, 6, 7, 8]
>>> del list_a[4]
>>> list_a
[1, 2, 3, 4, 6, 7, 8]
>>> del list_a[4:6]
>>> list_a
[1, 2, 3, 4, 8]
>>> list_a.pop()
8
>>> list_a
[1, 2, 3, 4]
>>> list_a.pop(0)
1
>>> list_a
[2, 3, 4]
>>> list_a.remove(4)
>>> list_a
[2, 3]
>>> list_a.clear()
>>> list_a
[]
>>> list_b
[4, 5, 6]
>>> 4 in list_b
True
>>> 7 in list_b
False
>>> 7 not in list_b
True
>>> t1=range(5)
>>> t1
range(0, 5)
>>> list(t1)
[0, 1, 2, 3, 4]
>>> 
>>> for i in range(10):
...     print(i)
... 
0
1
2
3
4
5
6
7
8
9
>>> 4
4
>>> 5
5
>>> 6
6
>>> list_b
[4, 5, 6]
>>> for i in list_b:
...     print(i)
... 
4
5
6
>>> dict_a = { "name" : "hongGilDong","hakbun":20221234}
>>> dict_a
{'name': 'hongGilDong', 'hakbun': 20221234}
>>> dict_a(1)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'dict' object is not callable
>>> dict_a(name)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'name' is not defined
>>> dict_a('name')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'dict' object is not callable
>>> dict_a['name']
'hongGilDong'
>>> dict_a['hakbun']
20221234
>>> dict_b = { "name":"Hong","No":1234,"school":[sinlim','yeongdeungpo']}
  File "<stdin>", line 1
    dict_b = { "name":"Hong","No":1234,"school":[sinlim','yeongdeungpo']}
                                                       ^
SyntaxError: invalid syntax
>>> dict_b = { "name":"Hong","No":1234,"school":['sinlim','yeongdeungpo']}
>>> dict_b
{'name': 'Hong', 'No': 1234, 'school': ['sinlim', 'yeongdeungpo']}
>>> dict_b[school][1]
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'school' is not defined
>>> dict_b[school]
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'school' is not defined
>>> dict_b['school'][1]
'yeongdeungpo'
>>> dict_b['school']
['sinlim', 'yeongdeungpo']
>>> dict_b['school'].append(seoul)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'seoul' is not defined
>>> dict_b['school'].append('seoul')
>>> dict_b['school']
['sinlim', 'yeongdeungpo', 'seoul']
>>> dict_b
{'name': 'Hong', 'No': 1234, 'school': ['sinlim', 'yeongdeungpo', 'seoul']}
>>> del dict_b['No']
>>> dict_b
{'name': 'Hong', 'school': ['sinlim', 'yeongdeungpo', 'seoul']}
>>> dict_b = {} 
>>> dict_b
{}
>>> list_b
[4, 5, 6]
>>> list_b = []
>>> list_b
[]
>>> dict_b['name']='hong'
>>> dict_b
{'name': 'hong'}
>>> dict_b['no']=1234
>>> dict_b
{'name': 'hong', 'no': 1234}
>>> key = input("Input key")
Input keyname
>>> key
'name'
>>> dict_b[key]
'hong'
>>>  
>>> 
>>> 
>>> type("abc") is str
True
>>> type([]) is str
False
>>> type([]) is list
True
>>> type({}) is list
False
>>> type({}) is dict
True
>>> list(range(5))
[0, 1, 2, 3, 4]
>>> list(range(0,10,2))
[0, 2, 4, 6, 8]
>>> list(range(0,10,3))
[0, 3, 6, 9]
>>> list(range(1,10,3))
[1, 4, 7]
>>> 
>>> n=10n
  File "<stdin>", line 1
    n=10n
        ^
SyntaxError: invalid syntax
>>> n=10
>>> n
10
>>> b=range(0,n/2)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'float' object cannot be interpreted as an integer
>>> b=range(0,int(n/2))
>>> b
range(0, 5)
>>> b=range(0,n //2)
>>> b
range(0, 5)
>>> i = 0
>>> while i<10:
... 
  File "<stdin>", line 2
    
    ^
IndentationError: expected an indented block
>>> while i<10:
... 
  File "<stdin>", line 2
    
    ^
IndentationError: expected an indented block
>>> key_list=["name","hp","mp","level"]
>>> value_list=["기사",200,30,5]
>>> character={}
>>> character=[key_list:value_list]
  File "<stdin>", line 1
    character=[key_list:value_list]
                       ^
SyntaxError: invalid syntax
>>> character={key_list:value_list}
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: unhashable type: 'list'
>>> character={key_list[]:value_list[]}
  File "<stdin>", line 1
    character={key_list[]:value_list[]}
                        ^
SyntaxError: invalid syntax
>>> character=key_list:value_list
  File "<stdin>", line 1
    character=key_list:value_list
                      ^
SyntaxError: invalid syntax
>>> character=key_list[]:value_list[]
  File "<stdin>", line 1
    character=key_list[]:value_list[]
                       ^
SyntaxError: invalid syntax
>>> character=key_list[0:4]:value_list[0:4]
  File "<stdin>", line 1
    character=key_list[0:4]:value_list[0:4]
                           ^
SyntaxError: invalid syntax
>>> character={key_list[0:4]:value_list[0:4]}
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: unhashable type: 'list'
>>> for i in character:
...     print(key_list:value_list)
  File "<stdin>", line 2
    print(key_list:value_list)
                  ^
SyntaxError: invalid syntax
>>>     print(key_list[]:value_list[])
  File "<stdin>", line 1
    print(key_list[]:value_list[])
    ^
IndentationError: unexpected indent
>>>     print(key_list{}:value_list{})
  File "<stdin>", line 1
    print(key_list{}:value_list{})
    ^
IndentationError: unexpected indent
>>> character={key_list:value_list}
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: unhashable type: 'list'
>>> for i in key_list:
...     print(i)
... 
name
hp
mp
level
>>> for i in key_list,value_list:
...     print(i)
... 
['name', 'hp', 'mp', 'level']
['기사', 200, 30, 5]
>>>     print(i:i)
  File "<stdin>", line 1
    print(i:i)
    ^
IndentationError: unexpected indent
>>> for i in key_list,value_list:
...     print(i:i)
  File "<stdin>", line 2
    print(i:i)
           ^
SyntaxError: invalid syntax
>>> for i in key_list,value_list:
...     print(i)
... 
['name', 'hp', 'mp', 'level']
['기사', 200, 30, 5]
>>> for i in key_list:value_list:
  File "<stdin>", line 1
    for i in key_list:value_list:
                                ^
SyntaxError: invalid syntax
>>> for i in key_list,value_list:
...     print([i:i])
  File "<stdin>", line 2
    print([i:i])
            ^
SyntaxError: invalid syntax
>>> for i in key_list,value_list:
...     print(1,1)
... 
1 1
1 1
>>> for i in key_list,value_list:
...     print[1:1]
... 
Traceback (most recent call last):
  File "<stdin>", line 2, in <module>
TypeError: 'builtin_function_or_method' object is not subscriptable
>>>     print{[1:1]}
  File "<stdin>", line 1
    print{[1:1]}
    ^
IndentationError: unexpected indent
>>>     print([1:1])
  File "<stdin>", line 1
    print([1:1])
    ^
IndentationError: unexpected indent
>>> for i in [key_list:value_list]:
  File "<stdin>", line 1
    for i in [key_list:value_list]:
                      ^
SyntaxError: invalid syntax
>>> for i in [key_list]:[value_list]:
  File "<stdin>", line 1
    for i in [key_list]:[value_list]:
                                    ^
SyntaxError: invalid syntax
>>> for i in {key_list:value_list}:
... 
  File "<stdin>", line 2
    
    ^
IndentationError: expected an indented block
>>> for i in {key_list:value_list}:
...     print(i)
... 
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: unhashable type: 'list'
>>> for i in {key_list:value_list}:
... 
  File "<stdin>", line 2
    
    ^
IndentationError: expected an indented block
>>> 
>>> for i in key_list:
...     
  File "<stdin>", line 2
    
    ^
IndentationError: expected an indented block
>>> 
>>> c=0
>>> sum=input()

>>> for in i key_list:
  File "<stdin>", line 1
    for in i key_list:
        ^
SyntaxError: invalid syntax
>>> for i in key_list:
...     if i == sum:
...             print(key_list[c])
...             break
...     c+=1
... 
>>> 
>>> name
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'name' is not defined
>>> 
>>> for i in keylist:
...     print(i)
... 
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'keylist' is not defined
>>> for i in key_list:
...     print(i)
... 
name
hp
mp
level
>>> for i in key_list,value_list:
...     print(i)
... 
['name', 'hp', 'mp', 'level']
['기사', 200, 30, 5]
>>> for i in (key_list,value_list):
...     print(i)
... 
['name', 'hp', 'mp', 'level']
['기사', 200, 30, 5]
>>> for character in key_list,value_list:
...     print(character)
... 
['name', 'hp', 'mp', 'level']
['기사', 200, 30, 5]
>>> for character:i in key_list,value_list:
  File "<stdin>", line 1
    for character:i in key_list,value_list:
                 ^
SyntaxError: invalid syntax
>>> for i in range(len(key_list)):
...     character[key_list[i]=value_list[i]
  File "<stdin>", line 2
    character[key_list[i]=value_list[i]
                         ^
SyntaxError: invalid syntax
>>>     character[key_list[i]]=value_list[i]
  File "<stdin>", line 1
    character[key_list[i]]=value_list[i]
    ^
IndentationError: unexpected indent
>>> for i in range(len(key_list)):
...     character[key_list[i]=value_list[i]]
  File "<stdin>", line 2
    character[key_list[i]=value_list[i]]
                         ^
SyntaxError: invalid syntax
>>>     character[key_list[i]=value_list[i]]
  File "<stdin>", line 1
    character[key_list[i]=value_list[i]]
    ^
IndentationError: unexpected indent
>>>     character[key_list[i]=value_list[i]]
  File "<stdin>", line 1
    character[key_list[i]=value_list[i]]
    ^
IndentationError: unexpected indent
>>> 
>>> 
>>> for i in range(len(key_list)):
...     character[key_list[i]]=value_list[i]
... 
Traceback (most recent call last):
  File "<stdin>", line 2, in <module>
TypeError: list indices must be integers or slices, not str
>>> Integer Calculator = ['+','-','*','/','%']
  File "<stdin>", line 1
    Integer Calculator = ['+','-','*','/','%']
            ^
SyntaxError: invalid syntax
>>> Integer_Calculator = ['+','-','*','/','%']
>>> Integer_Calculator 
['+', '-', '*', '/', '%']
>>> key_list 
['name', 'hp', 'mp', 'level']
>>> value_list
['기사', 200, 30, 5]
>>> character
['기사', 200, 30, 5]
>>> character={}
>>> character={}
>>> character
{}
>>> for i in range(len(key_list)):
...     character[key_list[i]]=value_list[i]
... 
>>> character
{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}
>>> Integer_Calculator
['+', '-', '*', '/', '%']
>>> for i in Integer_Calculator
  File "<stdin>", line 1
    for i in Integer_Calculator
                              ^
SyntaxError: invalid syntax
>>> for i in Integer_Calculator:
... 
  File "<stdin>", line 2
    
    ^
IndentationError: expected an indented block
>>> for i in Integer_Calculator:
...     print(i)
... 
+
-
*
/
%
>>> for i in Integer_Calculator:
...     print(n.i)
... 
Traceback (most recent call last):
  File "<stdin>", line 2, in <module>
AttributeError: 'int' object has no attribute 'i'
>>> for i in Integer_Calculator:
...     print(cnt.i)
... 
Traceback (most recent call last):
  File "<stdin>", line 2, in <module>
NameError: name 'cnt' is not defined
>>> for i in Integer_Calculator:
...     print(cnt[i].i)
... 
Traceback (most recent call last):
  File "<stdin>", line 2, in <module>
NameError: name 'cnt' is not defined
>>>     print(cnt[i])
  File "<stdin>", line 1
    print(cnt[i])
    ^
IndentationError: unexpected indent
>>>     cnt[i]
  File "<stdin>", line 1
    cnt[i]
    ^
IndentationError: unexpected indent
>>> for i in Integer_Calculator:
... cnt[i]
  File "<stdin>", line 2
    cnt[i]
    ^
IndentationError: expected an indented block
>>> for i in Integer_Calculator:
...     print(i)
... 
+
-
*
/
%
>>> for i in Integer_Calculator:
...     print(i)
... 
+
-
*
/
%
>>> print("Integer Calculator" \n "------------"\n "1.+" \n"2.-"\n"3.*"\n"4./"
  File "<stdin>", line 1
    print("Integer Calculator" \n "------------"\n "1.+" \n"2.-"\n"3.*"\n"4./" 
                                                                              ^
SyntaxError: unexpected character after line continuation character
>>> print("Integer Calculator" \n "------------"\n "1.+" \n"2.-"\n"3.*"\n"4./"\n"5.%"\n"---------")
  File "<stdin>", line 1
    print("Integer Calculator" \n "------------"\n "1.+" \n"2.-"\n"3.*"\n"4./"\n"5.%"\n"---------")
                                                                                                  ^
SyntaxError: unexpected character after line continuation character
>>> print("Integer Calculator" \n "------------"\n "1.+" \n"2.-"\n"3.*"\n"4./"\n"5.%"\n"---------"):
  File "<stdin>", line 1
    print("Integer Calculator" \n "------------"\n "1.+" \n"2.-"\n"3.*"\n"4./"\n"5.%"\n"---------"):
                                                                                                   ^
SyntaxError: unexpected character after line continuation character
>>> print("Integer Calculator" \n "------------"\n "1.+" \n"2.-"\n"3.*"\n"4./"\n"5.%"\n"---------"):
  File "<stdin>", line 1
    print("Integer Calculator" \n "------------"\n "1.+" \n"2.-"\n"3.*"\n"4./"\n"5.%"\n"---------"):
                                                                                                   ^
SyntaxError: unexpected character after line continuation character
>>> print("Integer Calculator" \n "------------"\n "1.+" \n"2.-"\n"3.*"\n"4./"\n"5.%"\n"---------")
  File "<stdin>", line 1
    print("Integer Calculator" \n "------------"\n "1.+" \n"2.-"\n"3.*"\n"4./"\n"5.%"\n"---------")
                                                                                                  ^
SyntaxError: unexpected character after line continuation character
>>> print("Integer Calculator"\n"----"\n"1.+"\n"2.-"\n"3.*"\n"4./"\n"5.%"\n"----")
  File "<stdin>", line 1
    print("Integer Calculator"\n"----"\n"1.+"\n"2.-"\n"3.*"\n"4./"\n"5.%"\n"----")
                                                                                 ^
SyntaxError: unexpected character after line continuation character
>>> character={}
>>> print("Integer Calculator"\n"----"\n"1.+"\n"2.-"\n"3.*"\n"4./"\n"5.%"\n"----")
  File "<stdin>", line 1
    print("Integer Calculator"\n"----"\n"1.+"\n"2.-"\n"3.*"\n"4./"\n"5.%"\n"----")
                                                                                 ^
SyntaxError: unexpected character after line continuation character
>>> clear()
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'clear' is not defined
>>> print("Integer Calculator"\n"----"\n"1.+"\n"2.-"\n"3.*"\n"4./"\n"5.%"\n"----")
  File "<stdin>", line 1
    print("Integer Calculator"\n"----"\n"1.+"\n"2.-"\n"3.*"\n"4./"\n"5.%"\n"----")
                                                                                 ^
SyntaxError: unexpected character after line continuation character
>>> print("Integer Calculator")
Integer Calculator
>>> print("Integer Calculator"\n)
  File "<stdin>", line 1
    print("Integer Calculator"\n)
                                ^
SyntaxError: unexpected character after line continuation character
>>> print("Integer Calculator\n----\n1.+\n2.-\n3.*\n4./\n5.%\n----")
Integer Calculator
----
1.+
2.-
3.*
4./
5.%
----
>>> "1"=+
  File "<stdin>", line 1
    "1"=+
        ^
SyntaxError: invalid syntax
>>> 1="+"
  File "<stdin>", line 1
SyntaxError: cannot assign to literal
>>> list = [0,+,-,*,/,%]
  File "<stdin>", line 1
    list = [0,+,-,*,/,%]
               ^
SyntaxError: invalid syntax
>>> list = [0,+,-,*,/","%"]
  File "<stdin>", line 1
    list = [0,+,-,*,/","%"]
               ^
SyntaxError: invalid syntax
>>> list = [0,"+","-","*","/","%"]
>>> for i in list:
...     print("input>")
...     if i == list[1]:
...
... 
  File "<stdin>", line 5
    
    ^
IndentationError: expected an indented block
>>> 
>>> for i in list:
...     sum = int(input('input>'))
...     if i == list[1]:
... 
  File "<stdin>", line 4
    
    ^
IndentationError: expected an indented block
>>> for i in list:
...     sum = int(input('input>'))
...     if i == list[1]:
...             a = int(input)
...             b = int(input)
...             sum = a + b
... 
input>1 2 3
Traceback (most recent call last):
  File "<stdin>", line 2, in <module>
ValueError: invalid literal for int() with base 10: '1 2 3'

In [ ]:
print("Integer Calculator\n1.+")

Integer Calculator
1.+

In [ ]:
v = int(input('input>'))
if v == 1:
        a = int(input())
        b = int(input())
        sum = a + b
        print(sum)

input>1
2
3
5

In [ ]:
.

# 9월 19일

In [ ]:
a = range(5)
print(a)
print(list(a))
b = list(a)
print(b)

print(list(range(0,5)))
print(list(range(0,10,2)))

n = 10
#c = range(0,n/2)
c = range(0,n//2)
print(c)

range(0, 5)
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8]
range(0, 5)

In [ ]:
for i in range(5):
    print(str(i) + "=")
    print(i)

    print()

    for i in list(range(5)):
        print(i)

0=
0

0
1
2
3
4
1=
1

0
1
2
3
4
2=
2

0
1
2
3
4
3=
3

0
1
2
3
4
4=
4

0
1
2
3
4

In [ ]:
#구구단
for i in range(2,10):
    for e in range(1,10):
        print(i,"*",e,"=",i*e)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
for i in range(4,-1,-1):
    print(i)

print()

for i in reversed(range(5)):
    print(i)

4
3
2
1
0

4
3
2
1
0

In [ ]:
i=0
while i<10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#break

i=0

while True:
    print('{} repeat count'.format(i))
    i += 1
    inputText = input('Do you want to quit(y)')
    if inputText in ('y','Y'):
        print('Quit repeat')
        break

0 repeat count
Do you want to quit(y)y
Quit repeat

In [ ]:
#continue

nums = [1,2,3,4,5]

for num in nums:
    if num <3:
        continue #조건이 맞을 경우, 다시 for 문으로 돌아가게 된다. 따라서 num이 3 보다 작을 때는 출력이 되질 않는다.
    print(num)

3
4
5

In [ ]:
#Quiz 2
key_list = ['name','hp','mp','level']
value_list = ['Hong', 200, 30, 5]
character = {}

for i in range(len(key_list)):
    character[key_list[i]] = value_list[i]

print(character)

{'name': 'Hong', 'hp': 200, 'mp': 30, 'level': 5}

In [ ]:
array = [i for i in range(0, 20, 2)]

#for i in range(0, 20, 2):
 #   array.append(i)

print(array)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
#list with for loop
array = [i*i for i in range(0, 20, 3)]

print(array)

[0, 9, 36, 81, 144, 225, 324]

In [ ]:
#가위바위보 게임
# -> 두번 연속 이겼을 때를 생각해서 
import time

seed = time.time()
#print(seed)
#print(int(seed))
#print(int(seed)%3)
j = 0;
while j < 3:
    j += 1;
    user_hand = input('무엇을 내시겠어요? ')
    
    if user_hand in ('가위','kawi'):
        seed =int(time.time())
        com_hand = seed % 3
        
        if com_hand == 0:
            print("(가위) 무승부") 
        elif com_hand == 1:
             print("(바위) 사용자가 패배했습니다.")
             j = 4;
             print("패배로 인한 종료")
        else:
            print("(보) 사용자가 승리했습니다.")
        
    elif user_hand in ('바위','bawi'):
        seed = int(time.time())
        com_hand = seed % 3
    
        if com_hand == 0:
            print("(가위) 사용자가 승리했습니다.")
        elif com_hand == 1:
            print("(바위) 무승부")
        else:
            print("(보) 사용자가 패배했습니다.")
            j = 4;
            print("패배로 인한 종료")

    elif user_hand in ('보','bo'):
        seed = int(time.time())
        om_hand = seed % 3
        
        if com_hand == 0:
            print("(가위) 사용자가 패배했습니다.")
            j = 4;
            print("패배로 인한 종료")
        elif com_hand == 1:
            print("(바위) 사용자가 승리했습니다.")
        else:
            print("(보) 무승부")

무엇을 내시겠어요? 가위
(보) 사용자가 승리했습니다.
무엇을 내시겠어요? 바위
(바위) 무승부
무엇을 내시겠어요? 보
(바위) 사용자가 승리했습니다.

In [ ]:
# 1번 문제 - 동준이 풀이
import time

count = 0
uw=0
cw=0
while count < 3:
    user = input('가위 바위 보 중 하나를 입력하시오 : ')

    if user != '가위' and user != '바위' and user != '보':
        print('올바른 값을 입력해주세요!')
        continue
    if user == '끝':
        print('게임을 끝냅니다.')
        break

    if user == '가위':
        user = 0
    elif user == '바위':
        user = 1
    else:
        user = 2

    com = int(time.time()) % 3
    if com == 0:
        print("컴퓨터 = 가위")
    elif com == 1:
        print("컴퓨터 = 바위")
    else:
        print("컴퓨터 = 보")

    if user == com:
        print("비겼습니다.")
    elif user - 1 == com or user + 2 == com:
        print("이겼습니다.")
        uw += 1
    else:
        print("졌습니다.")
        cw += 1
    
    if uw >= 2 or cw >= 2:
        break

    print()
    count += 1

if uw > cw:
    print("유저가 최종승리하였습니다.")
elif uw < cw:
    print("컴퓨터가 최종승리하였습니다.")
else:
    print("무승부입니다.")

가위 바위 보 중 하나를 입력하시오 : 가위
컴퓨터 = 가위
비겼습니다.

가위 바위 보 중 하나를 입력하시오 : 바위
컴퓨터 = 가위
이겼습니다.

가위 바위 보 중 하나를 입력하시오 : 보
컴퓨터 = 가위
졌습니다.

무승부입니다.

#9월 26일

In [ ]:
def print_n_times(*values, n=2):
    #n번 반복합니다.
    for i in range(n);
    #value는 리스트처럼 활용합니다.
    for value in values:
        print(value)
        #단순한 줄바꿈
        print()

#함수를 호출합니다.
print_n_times("안녕하세요","즐거운","파이썬 프로그래밍",3)

SyntaxError: ignored

가변 매개변수는 파라미터 앞이 들어가야 에러가 나지 않는다.

In [ ]:
def mul(*values):
    result=1
    for value in values:
        result*=value
    return result

print(mul(5,7,9,10))

3150

In [ ]:
# 1. n값 구하기 문제
sum=0

i=1

while True:

    sum+=i*i

    if sum>5000:

        break

    i+=1

print("n의 값은",i)

n의 값은 25

In [ ]:
# 3. 영어 성적 평균을 구하는 프로그램

eng = [10, 40, 23, 56, 90, 100, 80, 75, 76, 95]

def avg(list):
    score=0
    for average in list:
        score += average
    return score / len(eng)

print(avg(eng))

64.5

In [ ]:
# 4번 문제
def statement(scoreList):
    statementList={
        'A':0,
        'B':0,
        'C':0,
        'F':0
    }
    for score in scoreList:
        if 90<=score<=100:
            statementList['A']+=1
        elif 80<=score:
            statementList['B']+=1
        elif 70<=score:
            statementList['C']+=1
        else:
            statementList['F']+=1
    return statementList
    
    list=[70,60,65,75,95,90,80,83,87,100]
    
    print(statement(list))