<a href="https://colab.research.google.com/github/juyangjin/2022_Kmove/blob/master/Python/Python9%EC%9B%94_26%EC%9D%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#9월 26일

In [1]:
def print_n_times(*values, n=2):
    #n번 반복합니다.
    for i in range(n);
    #value는 리스트처럼 활용합니다.
    for value in values:
        print(value)
        #단순한 줄바꿈
        print()

#함수를 호출합니다.
print_n_times("안녕하세요","즐거운","파이썬 프로그래밍",3)

SyntaxError: ignored

가변 매개변수는 파라미터 앞이 들어가야 에러가 나지 않는다.

In [2]:
def mul(*values):
    result=1
    for value in values:
        result*=value
    return result

print(mul(5,7,9,10))

3150

In [3]:
# 1. n값 구하기 문제
sum=0

i=1

while True:

    sum+=i*i

    if sum>5000:

        break

    i+=1

print("n의 값은",i)

n의 값은 25

In [4]:
# 3. 영어 성적 평균을 구하는 프로그램

eng = [10, 40, 23, 56, 90, 100, 80, 75, 76, 95]

def avg(list):
    score=0
    for average in list:
        score += average
    return score / len(eng)

print(avg(eng))

64.5

In [5]:
# 4번 문제
def statement(scoreList):
    statementList={
        'A':0,
        'B':0,
        'C':0,
        'F':0
    }
    for score in scoreList:
        if 90<=score<=100:
            statementList['A']+=1
        elif 80<=score:
            statementList['B']+=1
        elif 70<=score:
            statementList['C']+=1
        else:
            statementList['F']+=1
    return statementList
    
    list=[70,60,65,75,95,90,80,83,87,100]
    
    print(statement(list))