<a href="https://colab.research.google.com/github/juyangjin/2022_Kmove/blob/master/Python/Python7%EC%9B%94_26%EC%9D%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 7월 26일

**굵은 텍스트**# 새 섹션

In [ ]:
print("if 조건문에 0 넣기")
if 0:
    print("0은 True로 변환됩니다.")
else:
    print("0은 False로 변환됩니다.")
print()

print("if 조건문에 빈 문자열 넣기")
if "": 
    print("빈 문자열은 True로 변환됩니다.")
else:
    print("빈 문자열은 False로 변환됩니다.")

if zefo == 0:
   
else:

In [ ]:
#입력을 받습니다.
number = input("정수 입력> ")
number = int(number)

#조건문 사용
if number > 0:
    #양수일 때:아직 미구현 상태입니다.
    pass
else:
    #음수일 때:아직 미구현 상태입니다.
    pass
#미완성일 때는 pass 키워드를 사용하면 된다.

In [ ]:
x = 10
y = 2

if x > 4:
    if y > 2:
        print(x * y)
else:
    print(x + y)

#두번째 if의 조건을 만족하지 않기 때문에 아무것도 출력되지 않는다.

In [ ]:
if 20 > x > 10:
    print("조건에 맞습니다.")

In [ ]:
array = [273, 32, 103, "문자열", True, False]
print(array)

array[5]

In [ ]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

print("리스트 기본 연산자")
print("list_a + list_b=",list_a + list_b)
print("list_a * 3=",list_a * 3)
print()

print("길이 구하기")
print("len(list_a) =",len(list_a))

In [ ]:
list_a = [1,2,3]

print("리스트 뒤에 요소 추가")
list_a.append(4)
list_a.append(5)
print(list_a)
print()

print("리스트 중간에 요소 추가하기")
list_a.insert(0,10)
list_a.insert(3,11)
print(list_a)

print("extend 함수 사용하기")
list_a.extend([4,5,6])
print(list_a)

In [ ]:
list_a=[0,1,2,3,4,5]
print("list_a:",list_a)
print("리스트 요소 제거하기")

del list_a[1]
print("del list_a[1]:",list_a)

list_a.pop(2)
print("pop list_a(2):",list_a)

In [ ]:
for i in range(5,9):
    print(i)

team = ['A','B','C']

In [ ]:
numbers = [273, 103, 5, 32, 65, 9 ,72, 800, 99]

for number in numbers:
    if number > 100:
        print("- 100 이상의 수:",number)

퀴즈 1번

In [ ]:
list_a = []
list_b = []
print('list_a : ', list_a)
print('list_b : ', list_b)

for i in range(10):
    a = int(input('정수를 입력하세요: '))
    list_a.append(a)
    if list_a[i] % 3 == 0:
        list_b.append(list_a[i])

print('list_a : ', list_a)
print('list_a에서 3의 배수만 출력 : ', list_b)

list_a :  []
list_b :  []
정수를 입력하세요: 3
정수를 입력하세요: 4
정수를 입력하세요: 2
정수를 입력하세요: 3
정수를 입력하세요: 56
정수를 입력하세요: 7
정수를 입력하세요: 8
정수를 입력하세요: 4
정수를 입력하세요: 20
정수를 입력하세요: 2020
list_a :  [3, 4, 2, 3, 56, 7, 8, 4, 20, 2020]
list_a에서 3의 배수만 출력 :  [3, 3]

퀴즈 2번

In [ ]:
engs = ["student","love","java","happy","future"]
kors = ["학생","사랑","자바","행복한","미래"]
print("영단어를 입력하세요")

c=0
sum = input()
for i in engs:
    if i == sum:
        print(kors[c])
        break
    c+=1
print("프로그램을 종료합니다.")

영단어를 입력하세요
love
사랑
프로그램을 종료합니다.

퀴즈 3번

In [ ]:
sum = 0
for i in range(10):
    sum = sum + i*i
    print(sum)

0
1
5
14
30
55
91
140
204
285